{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <!-- Header -->
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-flex" style="align-items: center">
                <div id="main" class="container">
                    ¡Hola! Soy
                    <h1 class="title is-1">
                        Ramón Corchero
                    </h1>
                    <h2 class="subtitle is-3">
                        Full Stack Web Developer
                    </h2>
                </div>
            </div>
            <div class="column">
                <!-- Title -->
                <div class="section-heading">
                    <h3 class="title is-2">Sobre mí</h3>
                    <h4 class="subtitle is-5">Jack of all trades, master of "some"</h4>
                    <div class="container">
                        <p>Web developer with more than <strong>4 years</strong> of well-rounded experience with a
                            degree in the
                            field of
                            <strong>Computer Science</strong>, extensive knowledge of modern Web techniques and love for
                            <strong>Coffee</strong>.
                            Looking for an opportunity to work and upgrade, as well as being involved in an organization
                            that
                            believes
                            in gaining a competitive edge and giving back to the community.</p>
                    </div>
                </div>

                <div class="columns has-same-height">
                    <div class="column">
                        <!-- Profile -->
                        <div class="card">
                            <div class="card-content">
                                <h3 class="title is-4">Profile</h3>

                                <div class="content">
                                    <table class="table-profile">
                                        <tr>
                                            <th colspan="1"></th>
                                            <th colspan="2"></th>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>Guru's Lab</td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td>0123-456789</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>minion@despicable.me</td>
                                        </tr>
                                    </table>
                                </div>
                                <br>
                                <div class="buttons has-addons is-centered">
                                    <a href="#" class="button is-link">Github</a>
                                    <a href="#" class="button is-link">LinkedIn</a>
                                    <a href="#" class="button is-link">Twitter</a>
                                    <a href="#" class="button is-link">CodeTrace</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <!-- Skills -->
                        <div class="card">
                            <div class="card-content skills-content">
                                <h3 class="title is-4">Skills</h3>
                                <div class="content">

                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>JavaScript:</strong>
                                                    <br>
                                                    <progress class="progress is-primary" value="90"
                                                              max="100"></progress>
                                                </p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Vue.js:</strong>
                                                    <br>
                                                    <progress class="progress is-primary" value="90"
                                                              max="100"></progress>
                                                </p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Node.js:</strong>
                                                    <br>
                                                    <progress class="progress is-primary" value="75"
                                                              max="100"></progress>
                                                </p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>HTML5/CSS3</strong>
                                                    <br>
                                                    <progress class="progress is-primary" value="95"
                                                              max="100"></progress>
                                                </p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>Databases</strong>
                                                    <br>
                                                    <progress class="progress is-primary" value="66"
                                                              max="100"></progress>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="hero-body">
            <div class="container">Hello! I am
                <h1 class="title is-1">
                    Minion Tim
                </h1>
                <h2 class="subtitle is-3">
                    Full Stack Web Developer
                </h2>
            </div>
        </div>-->
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}