<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}¡Bienvenido!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="has-navbar-fixed-top">
        {{ include("navigation.html.twig") }}
        {% block body %}{% endblock %}
        {{ include(template="footer.html.twig") }}
        {% block javascripts %}
            <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        {% endblock %}
    </body>
</html>
