<!-- Footer -->
<footer class="footer">
    <div class="section-heading">
        <p>
            <strong>Bulma Personal Template</strong> by <a href="https://mubaidr.js.org">Muhammad Ubaid Raza</a>.
        </p>
    </div>
</footer>