<!-- Navigation bar -->
<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="#about">
                <span class="icon">
                <i class="fas fa-info"></i>
                </span>
                <span>About</span>
            </a>
        </div>
    </div>
</nav>